# This is to allow running tests locally instead of using docker

POSTGRES_DB="postgres"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
TEST_DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}"

REDIS_HOST="localhost"
